server:
  restart: always
  image: nginx
  links:
    - mainsite
  volumes:
    - ./nginx_config:/etc/nginx/conf.d
  ports:
    - "8080:80"

mainsite:
  build: .
  expose:
    - "8000"
  command: gunicorn -w 4 -b :8000 app:app