{% extends "message.html" %}

{% set title = "Страница \"" + identifier + "\" не найдена!" %}
{% set message = "Возможно, она была удалена администратором, либо вы ввели неверный url." %}

{% block message %}
    <p>
        {% if can_edit_custom_page(current_user) %}
            Вы можете <a href="{{ url_for(
            "custom_pages.custom_page_edit",
            identifier=identifier
            ) }}">создать</a> её.
        {% else %}
            {{ message }}
        {% endif %}
    </p>
{% endblock %}