{% macro spoiler(title, content) -%}
    <div class="slr" style="margin: 1em">
        <input type="checkbox" tabindex="-1">
        <div class="box"><span class="close">
            [-] {{ title }}
        </span>
            <span class="open">
                [+] {{ title }}
            </span>
            <blockquote>
                {{ content }}
            </blockquote>
        </div>
    </div>
{%- endmacro %}

{% macro list_errors(form) %}
    {% set error_fields = form.errors.values() %}
    {% if error_fields %}
        <ul>
            {% for errors in error_fields %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}